:root {
    
    /* Primary Colors */
    --PaleBlue: hsl(255, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);

    /* Nuetral Colors */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);

    /* Additional Colors */
    --white: hsl(259, 100%, 100%);
    --lightBlue: rgb(198, 216, 255);
}

@media screen and (max-width: 600px) {
    body {
        background-image: url(/images/pattern-background-mobile.svg);
       
    }
    
}

@media screen {
    body {
        background-image: url(/images/pattern-background-desktop.svg);
    }
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Red Hat Display', sans-serif;
}


body {
   background-repeat: repeat-x;
   background-color: var(--VeryPaleBlue);
}

.container {
    position: relative;
    width: 350px;
    height:600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: var(--white);
    border-radius: 15px;
    -webkit-box-shadow: 3px 13px 15px 5px #ABA9D4;
    -moz-box-shadow: 3px 13px 15px 5px #ABA9D4;
    box-shadow: 3px 13px 15px 5px #ABA9D4;
}

.hero img {
    position:absolute;
    width: 100%;
    border-radius: 15px 15px 0 0;

}

.order-wrapper {
    position: absolute;
    color: black;
    top: 30%;
    text-align: center;
}

.order-wrapper h2 {
    font-weight: 900;
    
}

.order-wrapper p {
    font-weight: 500;
    font-size: 16px;
    padding: 0 auto;
}

.container-2 {
   /* grid-column: col 1 / span 1;
    grid-row:5;
    grid-gap: 20px; */
    display: flex;
    width: 300px;
    height: 75px;
    background-color: var(--VeryPaleBlue);
    margin: 330px auto 0 30px;
    /*align-content: center;*/
    
    justify-content: center;

    border: 1px solid red ;
    border-radius: 10px;
}

.container-2 img {
    display: flex;
    /*align-items: center;*/
    
    /*justify-content: space-between;*/

    padding: 1em;
}


.container-2 p {
    margin-top: -20px;
    color:var(--DesaturatedBlue);
}

.change-btn {
    margin-left: 60px;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.payment-btn {
    display: flex;
    align-items: center;
    margin-top: 450px;
    margin-left: -130%;
    padding: 10px 75px 10px 75px;
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 10px;
    color: #fff;
    background-color: var(--BrightBlue);
    cursor: pointer;
    
}

.cancel {
    display: flex;
    margin-top: 520px;
    margin-left: -130%;
    
}   